# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

lib
node_modules
.DS_Store
dist-ssr
/extensions/i18n/dist/
/extensions/works/dist/
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
.pnpm*

*.tsbuildinfo
auto-imports.d.ts
components.d.ts
extensions/i18n/package-lock.json
packages/config/package-lock.json
packages/service/package-lock.json
